<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>电影展示</title>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/wap.css">
</head>

<body ng-app="moviecat" ng-controller="moviecat.ctrl">
    <!-- 顶部导航栏开始 -->
    <div class="top">
        <div class="header" ng-controller="search.ctrl">
            <a href="#/home_page"><img src="assets/img/logo.png" alt=""></a>
            <div class="search">
                <input class="my-input" type="text" placeholder="电影搜索" ng-model='text'>
                <button ng-click='search(text)'>搜索</button>
            </div>
        </div>
        <nav class="nav">
            <ul>
                <!--li中添加 active 类样式，显示焦点状态。-->
                <li ng-class='{active:hash==="/home_page"}'><a href="#!/home_page">首页</a></li>
                <li ng-class='{active:hash==="/in_theaters"}'><a href="#!/in_theaters">正在热映</a></li>
                <li ng-class='{active:hash==="/coming_soon"}'><a href="#!/coming_soon">即将上映</a></li>
                <li ng-class='{active:hash==="/top250"}'><a href="#!/top250">Top250</a></li>
            </ul>
        </nav>
    </div>
    <!-- 顶部导航栏结束 -->

    <div class="container" ng-view>
        <!-- ng-view 显示区域-->
    </div>
    <footer class="footer">
        <div class="container">
            <p>版权所有&copy; 前端与移动开发学院 前端(允许侵权)</p>
        </div>
    </footer>
    <!--css 添加前缀-->
    <script src="/app/assets/js/prefixfree.min.js"></script>
    <!-- 引入angular-->
    <script src="/node_modules/angular/angular.js"></script>
    <!--引入angular路由-->
    <script src="/node_modules/angular-route/angular-route.js"></script>
    <!--引入 JSONP -->
    <script src="/app/JSONP.js"></script>
    <!--引入主模块-->
    <script src="/app/app.js"></script>
    <!--引入home_page 模块 控制器-->
    <script src="/app/home_page/controller.js"></script>
     <!--引入 电影列表 模块 控制器-->
    <script src="/app/in_theaters/controller.js"></script>
    <!-- 引入详情 模块 控制器-->
    <script src="/app/details/controller.js"></script>
    <!-- 引入搜索模块-->
    <script src="/app/search/controller.js"></script>
</body>

</html>
